@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.quizTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #373B4D;
}

.quizDescription {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #373B4D;
}