@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@500&display=swap');

.button {
    background-color: #3666B4 !important;
    font-family: 'Inter', sans-serif;
    border-radius: 8px !important;
    font-weight: 700;
    width: 165px;
}